<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jq.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <title>Chess</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/chess.png' %}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="turns" id="turns"></h1>
    </div>

    <div class="difContainer">
      <div class="container" id="boardContainer">
        <div class="chessboard" id="board"></div>
      </div>
      <div class="status-bar-container">
        <div class="top-status-bar status-bar">
          <div id="darkStatus" class="captured-pieces">
            <h2>Captured Pieces:</h2>
          </div>
        </div>
        <div class="logo">
        </div>
        <div class="bottom-status-bar status-bar">
          <div id="lightStatus" class="captured-pieces">
            <h2>Captured Pieces:</h2>
          </div>
        </div>
        <button class="resetButton">
          <a href="{% url 'resetBoard' %}">Reset Board</a>
        </button>
      </div>
    </div>

    {% csrf_token %}

    <h1 hidden id="aiCol">{{ aiCol }}</h1>

    <div class="popup" id="popup-1">
      <div class="overlay"></div>
      <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1 id="winner">Title</h1>
      </div>
    </div>

    <script>
      const STATIC_URL = "{% static 'image/' %}";
    </script>
  </body>
</html>
